/* DOCUMENT INFORMATION
	- Document: Formao Theme
	- Version:  1.0.0
	- Author:   Philippe Y.
*/


/* COLORS
	- default body text  #fff    
    - button             #f39c12
    - button:hover       #d8890b
    - border             #f39c12
*/


/* FONTS
	- default Lato, sans serif
  
*/


/* CSS DIRECTORY
	1. =GLOBAL
	2. =HEADER
            = Title
            = Button
            = Arrow
    3. =NOS SERVICES
*/



/*  GLOBAL
	======================================= */ 

html {
    background-color: #fff;
    font-family: 'Lato', 'Arial', sans-serif;

}

h1 {
    font-family: 'Lato', 'Arial', sans-serif;
    color: #333;
    text-transform: uppercase;
    font-size: 240%;
    letter-spacing: -1px;
    font-weight: 300;
    word-spacing: 8px
    
}

h2 {
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 250%;
    font-weight: 300;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
    color: #333;
}


h2:after {
    display: block;
    height: 2px;
    background-color: #f39c12;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 10px;
}


h3 {
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 160%;
    font-weight: 300;
    color: #333;
}



p {
    font-size: 12px;
    font-weight: 300;
    line-height: 24px;
}

section {
    padding: 30px 0;
}



/*  HEADER
	======================================= */ 


header {
    background-image: linear-gradient( rgba(0,242,96,0.4), rgba(7,117,230,0.6)), url(../images/banniere.jpg); 
    height: 100vh;  /*  100% viewport height * Le viewport est la zone de visualisation du navigateur */
    background-size: cover;
    background-position: center;    
}


.home-title {
    position: absolute;
    top: 30%;
}


.home-title h1 {
    font-size: 340%;
    color: #fff;
}

.home-title h1 span {
    font-weight: 500;
}


/*  Button
	======================================= */ 

.btn
{
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    border-radius : 10px;
    transition: background-color 1s, border 1s, color 1s; /* alternative all 1s */
}


.btn-full
 {
    background-color: #f39c12; /* https://flatuicolors.com */
    color: #fff;
    margin-right: 15px;

}


.btn-ghost
{
    border: 1px solid #fff;
    color: #fff; /* http://www.0to255.com */
}


.btn-full:hover, /* La pseudo classe :hover spécifie l'apparence d'un élément lors du survole de la souris.*/
.btn-full:focus
{
    color: #fff;
    background-color: #d8890b;
    border: 1px solid #d8890b;
}

.btn-ghost:hover,
.btn-ghost:focus {
    color: #fff;
    background-color: #d8890b;
    border: 1px solid #d8890b;}

/*  Arrow Down
	======================================= */

.arrow-down {
    position: absolute;
    left: 50%;
    bottom: 20px;
    color: #fff;
    font-size: 30px;
    transition: color 0.2s; /* https://caniuse.com/#search=css%20transition */
        
}

.arrow-down:hover,
.arrow-down:focus {
    color: #d8890b;

}


/*  NOS SERVICES
	======================================= */ 

.service-feature {
        margin: 20px 0;
}

.service-icon {
    color: #f39c12;
    font-size: 34px;
    transition: all 1s;
    
}

.service-feature:hover .service-icon {
    color: #d8890b;
    transform: translateX(20px)
}

.service-feature-content {

}

.service-img {
    max-width: 100%;
    height: auto;
}

.icon-app {
    margin-top: 20px;
}

.icon-app img {
    height: 50px;
    width: auto;
    margin-right: 20px;

}


/*  LES METIERS DE FORMATION
	======================================= */ 

.metier {
    background-color: #f6f6f6;
}

.metier-box {
    padding: 40px 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    

}

.metier-box i,
.metier-box h3,
.metier-box p {
    color:#fff;

}

.metier-box i {
    text-align: center;
    font-size: 34px;
    display: block;
    margin-bottom: 10px;
    transition: all 1s;

}

.metier-box:hover i {
    transform: translateY(10px);
}


.metier-box h3 {
    text-align: center;
}


.batiment {
        background-image: linear-gradient( rgba(3,247,198,0.7), rgba(32,124,229,1)), url(../images/batiment.jpg); /* https://www.cssmatic.com */
        transition: all 1s; 
}

.batiment:hover {
        background-image: linear-gradient( rgba(3,247,198,0.9), rgba(32,124,229,1)), url(../images/batiment.jpg);
}

.graphisme {
        background-image: linear-gradient( rgba(255,234,0,0.7), rgba(255,0,132,1)), url(../images/graphisme.jpg);
}

.graphisme:hover {
        background-image: linear-gradient( rgba(255,234,0,0.9), rgba(255,0,132,1)), url(../images/graphisme.jpg);
}

.web {
        background-image: linear-gradient( rgba(153,153,153,0.7), rgba(99,99,99,1)), url(../images/web.jpg);
}

.web:hover {
        background-image: linear-gradient( rgba(153,153,153,0.9), rgba(99,99,99,1)), url(../images/web.jpg);
}

